html{
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: #1A1815;
}


h1, h2, h3, h4, h5, p, .caption {
    margin: 0;
    padding: 0;
}

h1 { 
    font-family: "Aktiv Grotesk", sans-serif; 
    color: #FAECDC;
    font-size: 78px;
    font-weight: 700;
    line-height: 78px;
}

h2 { 
    font-family: "Aktiv Grotesk";
    color: #FAECDC;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h3 {
    font-family: "Aktiv Grotesk";
    color: #FAECDC;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h4 {
    color: #B7ACA0;
    font-family: "Aktiv Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p{
    font-family: "Aktiv Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #FAECDC;
    line-height: normal;
}
.nav-column {
    margin: 56px;
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 655px;
    position:static;
}

@media (min-width: 1024px) {
.nav-column {
    position: fixed;
    bottom: 0;              
    left: 0;   

}
}


.content {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50%;
    margin-left: auto;
    padding-right:3%;
    padding-top:2%;
    padding-bottom:2%;
    padding-left:3%;
    gap: 56px; 
}

.nav-wrapper {
    display: grid;
    gap: 12px;
}

.btn-group .btn {
    margin-right: 16px;

    display: grid;
    min-width: 116px;
    padding: 18px 24px;
    justify-content: center;
    border-radius: 24px;
    border: 1px solid #FAECDC;
    color: #FAECDC;
    float: left;
    /* h3 */
    font-family: "Aktiv Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.btn-group2 .btn2 {
    margin-right: 16px;

    display: flex;
    padding:  12px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #FAECDC;
    color: #FAECDC;
    float: left;
}

.nav {
    display: flex; 
    flex-direction: column; 
    gap: 28px;
}

.navbar a:hover {
    background-color: aqua;
    color:black;
}