html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: #191717; 
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p, .caption {
    margin: 0;
    padding: 0;
}

h1 { 
    font-family: "Aktiv Grotesk", sans-serif;
    color: #FAECDC;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
}

h2 { 
    font-family: "Aktiv Grotesk";
    font-size: 24px; 
    font-weight: 500;
    line-height: normal;
}
h2.r{
    color:#F03737
}

h2.w{
    color:#FAECDC
}


h3 {
    font-family: "Aktiv Grotesk";
    color: #FAECDC;
    font-size: 20px; 
    font-weight: 500;
    line-height: normal;
}

h3.r{
    color:#F03737
}

h4 {
    color: #FAECDC;
    font-family: "Aktiv Grotesk";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

h4.caption{
    color: #FAECDC; 
    opacity: 55%;
}

.h4-lists { 
    color: #FAECDC;
    font-family: "Aktiv Grotesk";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}



p {
    font-family: "Aktiv Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #FAECDC;
    line-height: normal;
}

@media (hover: hover) {
  p a:link, h3 a:link, h2 > a, li a:link {
    text-decoration-color: #E63223;
    color: #E63223;
    transition: text-decoration-color 100ms ease-in-out;
  }
}

/* Desktop */
@media (hover: hover) and (pointer: fine) and (min-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        float: right;
        width: 50%;
        margin-left: auto;
        padding-right: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 3%;
        gap: 56px; 
    }

    .nav-column {
        position: fixed;
        bottom: 0;              
        left: 0;   
        margin: 56px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 655px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .nav-column {
        position: relative;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 100%;
        order: 1;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        gap: 40px;
        order: 2;
    }

    h1 {
        font-size: 40px;
        line-height: 48px;
        text-align: left;
    }

    h2 {
        font-size: 20px;
        text-align: left;
    }

    
    .btn-group .btn {
        margin-right: 0;
        margin-bottom: 4px;
        padding: 12px 8px;
        float: none;
    }

    .btn-group2 {
        display: flex;
        justify-content: left;
        gap: 4px;
    }

    .btn-group2 .btn2 {
        margin-right: 0;
        float: none;
    }
}

/* ipad Layout */
@media (min-width: 768px) and (max-width: 1023px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: auto;
        padding: 3%;
        gap: 48px;
    }

    .nav-column {
        margin: 40px;
        position: static;
        justify-content: left;
        max-width: 500px;
    }
        .btn-group .btn {
        margin-right: 0;
        margin-bottom: 4px;
        padding: 18px 10px;
        float: none;
    }
}

.text-content {
    display: grid;
    padding-top: 2%; 
    gap: 4px;
}

.text-content-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.nav-wrapper {
    display: grid;
    gap: 16px;
}

.nav-wrapper-2 {
    display: grid;
    gap: 32px;
}

.nav {
    position: fixed;
    top: 0; 
    left: 0; /* Add this */
    right: 0; /* Add this */
    z-index: 1000; 
        padding: 1em 3.5em; 
}
.btn {
    display: grid;
    min-width: 116px;
    padding: 20px 24px;
    background-color: #191717;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #FAECDC;
}

.btn-group {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    float: left;
    margin-top: 16px

}

.btn:hover {
    border-color: #F03737;
    background: rgb(31, 6, 6);
}

.btn-group2 .btn2 {
    margin-right: 16px;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    border: 1px solid #FAECDC;
    float: left;
}
.btn2:hover {
    border-color: #F03737;
    background: rgb(31, 6, 6);
}

/* Make images responsive */
.content img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-button{
    display: inline-block;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.image-button:hover {
    opacity: 0.8;
}

.image-button img {
    display: block;
    max-width: 100%;
}


.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1vh;
    background-color: #191717;
    z-index: 99;
}


